AWS_REGION=us-east-1
AWS_ECR=045667550464.dkr.ecr.us-east-1.amazonaws.com
AWS_PROFILE=goldfinger-sandbox-Admin

# Find the enclaveX ec2 instance id
find-enclave-id() {
  INSTANCE_NAME=goldfinger-pipeline/dev/goldfinger-app/enclaveXX
  aws-vault exec "${AWS_PROFILE}" -- \
    aws ec2 describe-instances \
      --region "${AWS_REGION}"  \
      --filters "Name=tag:Name,Values=${INSTANCE_NAME}" \
       | jq -r '.Reservations[0].Instances[0].InstanceId'
}

# Open an ssm session with the enclave instance
ssm-enclave() {
  INSTANCE_ID=$(find-enclave-id)
   aws-vault exec "${AWS_PROFILE}" -- \
    aws ssm start-session \
      --target "${INSTANCE_ID}" \
      --region "${AWS_REGION}"
}

# Refresh aws-vault and login to ECR
docker-login() {
    aws-vault exec "${AWS_PROFILE}"  -- \
        aws ecr get-login-password \
            --region "${AWS_REGION}" | \
        docker login \
            --username AWS \
            --password-stdin \
            "${AWS_ECR}"
}